<style>
#vpbox {
	display: flex;
	height: 100%;
	position: relative;
	overflow: auto;
	border: none;
	outline: none;
}
@media only print {
	#vpbox {overflow: visible;}
}
.hidescroll {
	scrollbar-width: none;
}
.hidescroll::-webkit-scrollbar {
	display: none;
}
#vpcontent {
	position: absolute;
	pointer-events: none;
}
#vpgrid {
	height: 100%;
	box-sizing: border-box;
	display: grid;
	grid-gap: 1px;
	user-select: none;
	--fontscale: {{vpgrid.fontscale}};
}
.vpmonth {
	display: contents;
}
.vphdr {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	min-width: 10em;
}
.vpday {
	display: flex;
	background-color: #eaeaea;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.past * {
	opacity: {{vpgrid.past_opacity}};
}
.vpnum {
	font-size: 0.8em;
	flex-shrink: 0;
}
.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vplink {
	pointer-events: all;
	cursor: pointer;
}
.vpevents {
}
.vpevent {
	border-radius: 0.25em;
	padding: 0.1em 0.2em;
	margin: 0 1px;
	pointer-events: all;
}
.vpevent.checked {
	display: none;
}
</style>

<style ng-if="vpgrid.view.sel.column">
#vpcontent {
	height: 100%;
	width: {{vpgrid.scroll_size}}%;
}
@media only screen and (orientation: portrait) {
	#vpcontent {
		width: {{vpgrid.scroll_size_portrait}}%;
	}
}
#vpgrid {
	font-size: calc(1.1vh * var(--fontscale));
	grid-auto-flow: column;
	grid-template-columns: repeat({{vpgrid.page.length}}, 1fr);
	grid-template-rows: 2fr repeat(38, 1fr);
}
.vphdr {
	grid-row-start: 1;
}
.vpday {
	align-items: center;
}
.vpday.dayoffset0 {grid-row-start: 2;}
.vpday.dayoffset1 {grid-row-start: 3;}
.vpday.dayoffset2 {grid-row-start: 4;}
.vpday.dayoffset3 {grid-row-start: 5;}
.vpday.dayoffset4 {grid-row-start: 6;}
.vpday.dayoffset5 {grid-row-start: 7;}
.vpday.dayoffset6 {grid-row-start: 8;}
.vpnum {
	width: 1.5em;
	text-align: center;
	padding: 0.25em;
	margin: 0.1em 0.1em 0.1em 0.2em;
}
.vpevents {
	display: flex;
	align-items: center;
	overflow: hidden;
}
.vpevent {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
</style>

<style ng-if="vpgrid.view.sel.list">
#vpcontent {
	width: 100%;
	height: {{vpgrid.scroll_size}}%;
}
#vpgrid {
	font-size: calc(1.4vh * var(--fontscale));
	grid-auto-flow: row;
	grid-template-rows: repeat({{vpgrid.page.length}}, 1fr);
	grid-template-columns: 5fr repeat(38, 1fr);
}
.vphdr {
	grid-column-start: 1;
}
.vpday {
	flex-direction: column;
	padding: 0.1em;
	min-width: 2em;
}
.vpday.dayoffset0 {grid-column-start: 2;}
.vpday.dayoffset1 {grid-column-start: 3;}
.vpday.dayoffset2 {grid-column-start: 4;}
.vpday.dayoffset3 {grid-column-start: 5;}
.vpday.dayoffset4 {grid-column-start: 6;}
.vpday.dayoffset5 {grid-column-start: 7;}
.vpday.dayoffset6 {grid-column-start: 8;}
.vpnum {
	width: fit-content;
	padding: 0.1em 0.2em;
}
</style>

<div id="vpbox">
	<div id="vpcontent">
		<div id="vpgrid">
			<div ng-repeat="month in vpgrid.page" class="vpmonth" ng-class="month.cls">
				<div class="vphdr vplink" ng-click="month.onclickHdr()">{{month.hdr}}</div>
				<div ng-repeat="day in month.vpdays" class="vpday" ng-class="day.cls">
					<div class="vpnum vplink" ng-click="day.onclickNum()">{{day.num}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
