<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="vp.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="vplib.js" type='text/javascript'></script>
</head>
<body ng-app="vplist" ng-controller="main" ng-cloak>

<table class="vplistview vptable" ng-style="tablestyle">
	<tr ng-repeat="row in vpgrid.layout.rows">
		<th class="vphdr">{{row.hdr}}</th>
		<td ng-repeat="cell in row.cells" ng-class="cell.cls">
			<div ng-if="cell.cls.vpday" class="vpnum">{{cell.num}}</div>
		</td>
	</tr>
</table>

<script>
var app = angular.module("vplist", []);
app.controller("main", vplist_main);

function vplist_main($scope, $document)
{
	$scope.vpgrid = new VpGrid();
	$scope.vpgrid.updateListLayout();
	$scope.tablestyle = {'font-size': "1.4vh"};
	console.log($scope.vpgrid);
}

</script>

</body>
</html>
