/* ----------------- grid ------------------- */
.vpgrid {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	outline: none;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.vpgrid.vpexpandview {
	overflow: auto;
}

/* ----------------- table ------------------- */
.vptable {
	width: 100%;
	height: 100%;
	border-spacing: 1px;
	table-layout: fixed;
}
.vplistview .vptable {
	padding: 2vh 1vw;
}
.vpexpandview .vptable {
	height: 0;
}
.vphdr {
	padding: 1em;
}
.vplistview .vphdr {
	width: 6vw;
}

/* ----------------- cell ------------------- */
.vpday {
	background-color: #eaeaea;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.vplistview .vpday {
	position: relative;
	vertical-align: top;
	text-align: center;
	z-index: 0;
}
.vpnum {
	font-size: 0.8em;
	width: 2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: center;
}
.vpday.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vplistview .vpnum {
	width: auto;
}

/* ----------------- event ------------------- */

/* ----------------- print ------------------- */
@media only print
{
	.vpgrid.vpexpandview {
		overflow: initial;
	}
}
