/* ----------------- grid ------------------- */
.vpgrid {
	height: 100%;
	outline: none;
	font-family: arial;
	font-size: 1.2vh;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.vpgrid.vpexpandview {
	font-size: 3vh;
	overflow: auto;
}

/* ----------------- table ------------------- */
.vptable {
	width: 100%;
	height: 100%;
	border-spacing: 1px;
	table-layout: fixed;
}
.vptable td {
}
.vptable td:empty::after{
  content: '\a0';  /* &nbsp; */
}
.vpcolview .vptable {
	padding: 2vh 0;
}
.vplistview .vptable {
	padding: 2vh 1vw;
}
.vpexpandview .vptable {
	height: 0;
}
.vplistview .vphdr {
	width: 6vw;
}

/* ----------------- cell ------------------- */
.vpcell {
	background-color: #eaeaea;
}
.vpcell.weekend {
	background-color: #d8d8d8;
}
.vplistview .vpcell {
	position: relative;
	vertical-align: top;
	text-align: center;
	z-index: 0;
}
.vpnum {
	width: 1.6em;
	font-size: 0.8em;
	padding-top: 0.3em;
	padding-bottom: 0.25em;
	text-align: center;
}
.vplistview .vpnum {
	width: 2em;
}
.vpcell.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}

/* ----------------- event ------------------- */

/* ----------------- print ------------------- */
@media only print
{
	.vpgrid.vpexpandview {
		overflow: initial;
	}
}
