<style>
#vpcalbox {
	padding: 0.3em 0;
	background-color: gainsboro;
	display: flex;
	justify-content: center;
	overflow: hidden;
	font-size: 0.65em;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.vpcalbtn {
	padding: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.vpcalbtn:hover {
	background-color: rgba(0,0,0,0.1);
}
.vpcalbtn:active {
	background-color: rgba(0,0,0,0.3);
}
.vpcalbtn.checked {
	opacity: 0.5;
}
.vpcalmarker {
	margin-right: 0.3em;
	padding: 0em 0.5em;
	border-radius: 0.25em;
}
</style>

<div id="vpcalbox">
	<div class="vpcalbtn" ng-repeat="cal in vpevents.calendars | orderBy: 'name'" ng-class="cal.cls" ng-click="cal.toggle()">
		<span class="vpcalmarker" style="background-color: {{cal.colour.background}}"></span>
		<span>{{cal.name}}</span>
	</div>
</div>
