<style>
#vpcalbox {
	display: flex;
	justify-content: center;
	overflow: hidden;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.vpcalbtn {
	margin: 0.3em;
	padding: 0.5em;
	overflow: hidden;
}
.vpcalbtn:hover {
	background-color: rgba(0,0,0,0.1);
}
.vpcalbtn:active {
	background-color: rgba(0,0,0,0.3);
}
.vpcalbtn.checked {
	opacity: 0.5;
}
.vpcalmarker {
	margin-right: 0.3em;
	padding: 0em 0.5em;
}
</style>

<div id="vpcalbox">
	<div class="vpcalbtn" ng-repeat="cal in vpevents.calinfo | orderBy: 'name'" ng-class="cal.cls" ng-click="cal.onclick()">
		<span class="vpcalmarker" ng-style="{'background-color': cal.colour}"></span>
		<span>{{cal.name}}</span>
	</div>
</div>
