<style>
#vpbox {
	height: 100%;
	overflow: auto;
	border: none;
	outline: none;
}
.hidescroll {
	scrollbar-width: none;
}
.hidescroll::-webkit-scrollbar {
	display: none;
}
#vpgrid {
	display: grid;
	grid-gap: 1px;
	user-select: none;
}
.vpmonth {
	display: contents;
}
.vpmonth.past {
	opacity: {{vpgrid.past_opacity}};
}
.vphdr {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	min-width: 10em;
	opacity: inherit;
}
.vpday {
	display: flex;
	background-color: #eaeaea;
	opacity: inherit;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.vpnum {
	font-size: 0.8em;
	flex-shrink: 0;
}
.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vplink {
	pointer-events: all;
	cursor: pointer;
}
.vpevent.checked {
	display: none;
}
</style>

<span ng-if="vpgrid.view.column">
	<style>
	#vpgrid {
		height: 100%;
		width: {{vpgrid.scroll_size}}%;
		font-size: calc(1.1vh * {{vpgrid.fontscale}});
		grid-auto-flow: column;
		grid-auto-columns: minmax(5em, 1fr);
		grid-template-rows: 3em repeat(37, 1fr) 1em;
	}
	@media only screen and (orientation: portrait) {
		#vpgrid {
			width: {{vpgrid.scroll_size_portrait}}%;
		}
	}
	.vphdr {
		grid-row: 1;
	}
	.vpftr {
		grid-row: 39;
	}
	.vpday {
		align-items: center;
		padding: 1px;
	}
	.vpday.dayoffset0 {grid-row-start: 2;}
	.vpday.dayoffset1 {grid-row-start: 3;}
	.vpday.dayoffset2 {grid-row-start: 4;}
	.vpday.dayoffset3 {grid-row-start: 5;}
	.vpday.dayoffset4 {grid-row-start: 6;}
	.vpday.dayoffset5 {grid-row-start: 7;}
	.vpday.dayoffset6 {grid-row-start: 8;}
	.vpnum {
		width: 1.5em;
		text-align: center;
		padding: 0.25em;
		margin: 0.1em 0.1em 0.1em 0.2em;
	}
	.vpevents {
		overflow: hidden;
	}
	.vpevent {
		width: fit-content;
		width: -moz-fit-content;
		max-width: 100%;
		box-sizing: border-box;
		overflow: hidden;
		text-overflow: ellipsis;
		border-radius: 0.25em;
		padding: 0.1em 0.2em;
		margin: 1px;
		pointer-events: all;
	}
	</style>

	<span ng-if="vpgrid.view.expand">
		<style>
		#vpgrid.fixrow {
			height: auto;
		}
		</style>
	</span>

	<span ng-if="!vpgrid.view.expand">
		<style>
		.vpevents {
			display: flex;
			align-items: center;
		}
		.vpevent {
			white-space: nowrap;
		}
		</style>
	</span>
</span>

<span ng-if="vpgrid.view.list">
	<style>
	#vpgrid {
		width: 100%;
		height: {{vpgrid.scroll_size}}%;
		font-size: calc(1.25vh * {{vpgrid.fontscale}});
		grid-auto-flow: row;
		grid-auto-rows: minmax(5em, 1fr);
		grid-template-columns: 5fr repeat(37, 1fr) 2em;
	}
	.vphdr {
		grid-column: 1;
	}
	.vpftr {
		grid-column: 39;
	}
	.vpday {
		flex-direction: column;
		min-width: 2em;
	}
	.vpday.dayoffset0 {grid-column-start: 2;}
	.vpday.dayoffset1 {grid-column-start: 3;}
	.vpday.dayoffset2 {grid-column-start: 4;}
	.vpday.dayoffset3 {grid-column-start: 5;}
	.vpday.dayoffset4 {grid-column-start: 6;}
	.vpday.dayoffset5 {grid-column-start: 7;}
	.vpday.dayoffset6 {grid-column-start: 8;}
	.vpnum {
		width: fit-content;
		width: -moz-fit-content;
		padding: 0.25em 0.5em;
		margin: 1px;
		pointer-events: none;
	}
	.vpevents {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.vpevent {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #4775d1;
		opacity: {{vpgrid.multi_day_opacity}};
		pointer-events: none;
	}
	.vpevttext {
		display: none;
	}
	</style>
</span>

<style>
@media only print {
	#vpbox {overflow: visible;}
	#vpgrid {width: 100%; height: 100%;}
	.vpmonth.noprint {display: none;}
}
</style>

<div id="vpbox" tabindex="0" ng-keydown="vpgrid.onkeydown($event)">
	<div id="vpgrid" ng-class="vpgrid.cls">
		<div ng-repeat="month in vpgrid.page" id="{{month.id}}" class="vpmonth" ng-class="month.cls">
			<div class="vphdr vplink" ng-click="month.onclickHdr()">{{month.hdr}}</div>
			<div ng-repeat="day in month.days" class="vpday" ng-class="day.cls">
				<div class="vpnum vplink" ng-click="day.onclickNum()">{{day.num}}</div>
				<div class="vpevents" ng-if="day.evts">
					<div ng-repeat="evt in day.evts | orderBy: ['timestamp', 'title']" class="vpevent vplink" title="{{evt.cal.name}} - {{evt.title}}" style="color: {{evt.colour.text}}; background-color: {{evt.colour.background}};" ng-class="evt.cal.cls" ng-click="evt.edit()">
						<span class="vpevttext">{{evt.title}}</span>
					</div>
				</div>
			</div>
			<div class="vpftr"></div>
		</div>
	</div>
</div>
