<style>
#vpbox {
	height: 100%;
	overflow: auto;
	border: none;
	outline: none;
}
.hidescroll {
	scrollbar-width: none;
}
.hidescroll::-webkit-scrollbar {
	display: none;
}
#vpgrid {
	font-size: calc(1.1vh * {{vpgrid.fontscale}});
	display: grid;
	grid-gap: 1px;
	position: relative;
	user-select: none;
}
.vpmonth {
	display: contents;
}
.vpmonth.past {
	opacity: {{vpgrid.past_opacity}};
}
.vphdr {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	min-width: 10em;
	opacity: inherit;
}
.vpday {
	display: flex;
	background-color: #eaeaea;
	opacity: inherit;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.vpnum {
	font-size: 0.8em;
	flex-shrink: 0;
	z-index: 2;
}
.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vplabels {
	overflow: hidden;
}
.vplabel {
	width: fit-content;
	width: -moz-fit-content;
	max-width: 100%;
	box-sizing: border-box;
	border-radius: 0.25em;
	padding: 0.1em 0.2em;
	margin: 1px;
	opacity: inherit;
	pointer-events: all;
	z-index: 2;
}
.vplabel.multiday {
	margin: 0;
	border-radius: 0;
	position: absolute;
	white-space: nowrap;
	z-index: 1;
}
.vplink {
	pointer-events: all;
	cursor: pointer;
}
</style>

<span ng-if="vpgrid.view.column">
	<style>
	#vpgrid {
		height: 100%;
		width: {{vpgrid.scroll_size}}%;
		grid-auto-flow: column;
		grid-template-rows: 3em repeat(37, 1fr) 1em;
	}
	@media only screen and (orientation: portrait) {
		#vpgrid {
			width: {{vpgrid.scroll_size_portrait}}%;
		}
	}
	.vphdr {
		grid-row: 1;
	}
	.vpftr {
		grid-row: 39;
	}
	.vpday {
		align-items: center;
		padding: 1px;
	}
	.vpday.offset0 {grid-row-start: 2;}
	.vpday.offset1 {grid-row-start: 3;}
	.vpday.offset2 {grid-row-start: 4;}
	.vpday.offset3 {grid-row-start: 5;}
	.vpday.offset4 {grid-row-start: 6;}
	.vpday.offset5 {grid-row-start: 7;}
	.vpday.offset6 {grid-row-start: 8;}
	.vpnum {
		width: 1.5em;
		text-align: center;
		padding: 0.25em;
		margin: 0.1em 0.1em 0.1em 0.2em;
	}
	.vplabel.multiday {
		width: 1.1em;
		height: 100%;
		padding: 0.5em 0;
		writing-mode: vertical-rl;
	}
	</style>

	<span ng-if="vpgrid.view.collapse">
		<style>
		#vpgrid {
			grid-auto-columns: minmax(10em, 1fr);
		}
		.vplabels {
			min-width: 30%;
			display: flex;
			align-items: center;
		}
		.vplabel {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		</style>
	</span>

	<span ng-if="vpgrid.view.expand">
		<style>
		#vpgrid {
			grid-auto-columns: 1fr;
		}
		#vpgrid.fixrow {
			height: auto;
		}
		.vplabel {
			overflow: hidden;
			text-overflow: ellipsis;
		}
		</style>
	</span>
</span>

<span ng-if="vpgrid.view.list">
	<style>
	#vpgrid {
		width: 100%;
		height: {{vpgrid.scroll_size}}%;
		grid-auto-flow: row;
		grid-auto-rows: minmax(min-content, 1fr);
		grid-template-columns: 5fr repeat(37, 1fr) 2em;
	}
	.vphdr {
		grid-column: 1;
	}
	.vpftr {
		grid-column: 39;
	}
	.vpday {
		flex-direction: column;
		min-width: 2em;
	}
	.vpday.offset0 {grid-column-start: 2;}
	.vpday.offset1 {grid-column-start: 3;}
	.vpday.offset2 {grid-column-start: 4;}
	.vpday.offset3 {grid-column-start: 5;}
	.vpday.offset4 {grid-column-start: 6;}
	.vpday.offset5 {grid-column-start: 7;}
	.vpday.offset6 {grid-column-start: 8;}
	.vpnum {
		width: fit-content;
		width: -moz-fit-content;
		padding: 0.25em 0.5em;
		margin: 1px;
		pointer-events: none;
	}
	.vplabel {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.vplabel.multiday {
		height: 1.2em;
		width: 100%;
		padding: 0 0.5em;
	}
	</style>

	<span ng-if="vpgrid.view.collapse">
		<style>
		.vplabel {
			white-space: nowrap;
		}
		</style>
	</span>

	<span ng-if="vpgrid.view.expand">
		<style>
		#vpgrid.fixrow {
			height: auto;
		}
		</style>
	</span>
</span>

<style>
@media only print {
	#vpbox {overflow: visible;}
	#vpgrid {width: 100%; height: 100%;}
	.vpmonth.noprint {display: none;}
}
</style>

<div id="vpbox" tabindex="0" ng-keydown="vpgrid.onkeydown($event)">
	<div id="vpgrid" ng-class="vpgrid.cls">
		<div ng-repeat="month in vpgrid.page" id="{{month.id}}" class="vpmonth" ng-class="month.cls">
			<div class="vphdr vplink" ng-click="month.onclickHdr()">{{month.hdr}}</div>
			<div ng-repeat="day in month.days" class="vpday" ng-class="day.cls">
				<div class="vpnum vplink" ng-click="day.onclickNum()">{{day.num}}</div>
				<div class="vplabels" ng-if="day.labels" ng-style="day.labelboxstyle">
					<div ng-repeat="label in day.labels | orderBy: ['evt.timestamp', 'evt.title']" class="vplabel vplink" title="{{label.evt.cal.name}} - {{label.evt.title}}" ng-style="label.style" ng-click="label.evt.edit()">
						<span class="vplabeltext">{{label.evt.title}}</span>
					</div>
				</div>
			</div>
			<div class="vpftr"></div>
			<div ng-repeat="label in month.labels" class="vplabel vplink multiday" title="{{label.evt.cal.name}} - {{label.evt.title}}" ng-style="label.style" ng-click="label.evt.edit()">
				<span class="vplabeltext">{{label.evt.title}}</span>
			</div>
		</div>
	</div>
</div>
