<style>
#vpscrollcontainer {
	display: flex;
	height: 100%;
}
#vpscrollbox {
	flex-grow: 1;
	position: relative;
	border: none;
	outline: none;
}
#vpscrollcontent {
	position: absolute;
	pointer-events: none;
	height: 100%;
}
#vpscrollmarkerbox {
	position: relative;
}
#vpscrollmarker {
	position: absolute;
	background-color: black;
	opacity: 0.25;
}
</style>

<style ng-if="vpscroll.view.sel.column">
#vpscrollcontainer {
	flex-direction: column;
}
#vpscrollbox::-webkit-scrollbar {
	height: 0;
}
#vpscrollcontent {
	width: {{vpscroll.scroll_size}}%;
}
#vpscrollmarkerbox {
	height: 10px;
}
</style>

<style ng-if="vpscroll.view.sel.list">
#vpscrollcontainer {
	flex-direction: row;
}
#vpscrollbox::-webkit-scrollbar {
	width: 0;
}
#vpscrollcontent {
	height: {{vpscroll.scroll_size}}%;
}
#vpscrollmarkerbox {
	width: 10px;
}
</style>

<style ng-if="vpscroll.view.sel.expand">
#vpscrollcontent {
	width: {{vpscroll.scroll_size}}%;
}
#vpscrollmarkerbox {
	height: 10px;
}
#vpscrollmarker {
	display: none;
}
</style>

<div id="vpscrollcontainer">
	<div id="vpscrollbox">
		<div id="vpscrollcontent">
			<vp-table/>
		</div>
	</div>
	<div id="vpscrollmarkerbox">
		<div id="vpscrollmarker"></div>
	</div>
</div>
