<style>
.vptable {
	width: 100%;
	border-spacing: 1px;
	table-layout: fixed;
	pointer-events: none;
	user-select: none;
	--fontscale: {{vptable.fontscale}};
}
.vphdr {
	text-align: center;
	font-weight: bold;
	padding: 1em;
	overflow: hidden;
	white-space: nowrap;
}
.vpday {
	background-color: #eaeaea;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.vpnum {
	font-size: 0.8em;
	width: 2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0.2em;
	text-align: center;
}
.vpday.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vpcell.past {
	opacity: {{vptable.past_opacity}};
}
.vplink {
	pointer-events: all;
	cursor: pointer;
}
#vptablecontainer {
	display: flex;
	height: 100%;
}
#vpscrollbox {
	flex-grow: 1;
	position: relative;
	border: none;
	outline: none;
}
#vpscrollcontent {
	position: absolute;
	pointer-events: none;
	height: 100%;
}
#vpscrollmarkerbox {
	position: relative;
}
#vpscrollmarker {
	position: absolute;
	background-color: black;
	opacity: 0.25;
}
</style>

<style ng-if="vptable.view.sel.column">
.vptable {
	height: 100%;
	font-size: calc(1.4vh * var(--fontscale));
}
#vptablecontainer {
	flex-direction: column;
}
#vpscrollbox::-webkit-scrollbar {
	height: 0;
}
#vpscrollcontent {
	width: {{vptable.scroll_size}}%;
}
#vpscrollmarkerbox {
	height: 10px;
}
</style>

<style ng-if="vptable.view.sel.list">
.vptable {
	height: 100%;
	font-size: calc(1.6vh * var(--fontscale));
}
.vphdr {
	width: 10em;
}
.vpday {
	position: relative;
	vertical-align: top;
	text-align: center;
	z-index: 0;
}
.vpnum {
	width: auto;
}
#vptablecontainer {
	flex-direction: row;
}
#vpscrollbox::-webkit-scrollbar {
	width: 0;
}
#vpscrollcontent {
	height: {{vptable.scroll_size}}%;
}
#vpscrollmarkerbox {
	width: 10px;
</style>

<style ng-if="vptable.view.sel.expand">
.vptable {
	font-size: 1em;
}
#vpscrollcontent {
	width: {{vptable.scroll_size}}%;
}
#vpscrollmarkerbox {
	height: 10px;
}
#vpscrollmarker {
	display: none;
}
</style>

<div id="vptablecontainer">
	<div id="vpscrollbox">
		<div id="vpscrollcontent">
			<table class="vptable">
				<tr ng-repeat="row in vptable.rows">
					<td ng-repeat-start="cell in row.cells" ng-if="cell.month" class="vpcell vphdr vplink" ng-class="cell.cls" ng-click="vptable.onclickHdr(cell)">{{cell.month.hdr}}</td>
					<td ng-if="cell.day" class="vpcell vpday" ng-class="cell.cls">
						<div class="vpnum vplink" ng-click="vptable.onclickDayNum(cell)">{{cell.day.num}}</div>
						<div ng-repeat="evt in cell.day.evts" class="vpevt">
							<div ng-if="evt.marker" class="vpevtmarker">&nbsp;</div>
							<div ng-if="evt.title" class="vpevttitle">{{evt.title}}</div>
						</div>
					</td>
					<td ng-if="cell.empty" ng-repeat-end>&nbsp;</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="vpscrollmarkerbox" ng-if="vptable.scrolling">
		<div id="vpscrollmarker"></div>
	</div>
</div>
