<style>
.vptable {
	height: 100%;
	width: 100%;
	border-spacing: 1px;
	table-layout: fixed;
	pointer-events: none;
	user-select: none;
	--fontscale: {{vptable.fontscale}};
}
.vphdr {
	text-align: center;
	font-weight: bold;
	padding: 1em;
	overflow: hidden;
	white-space: nowrap;
}
.vpday {
	background-color: #eaeaea;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.vpnum {
	font-size: 0.8em;
	width: 2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0.2em;
	text-align: center;
}
.vpday.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vpcell.past {
	opacity: {{vptable.past_opacity}};
}
.vplink {
	pointer-events: all;
	cursor: pointer;
}
.vpevents {
	display: flex;
	overflow: hidden;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}
.vpevent {
	margin: 0.3em 0;
	padding: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: all;
}
.vpeventmarker {
	margin-right: 0.3em;
	padding: 0em 0.5em;
}
#vpscrollbox {
	display: flex;
	height: 100%;
	position: relative;
	overflow: auto;
	border: none;
	outline: none;
}
#vpscrollcontent {
	position: absolute;
	pointer-events: none;
	height: 100%;
}
@media only print {
	#vpscrollbox {overflow: visible;}
}
</style>

<style ng-if="vptable.view.sel.column">
.vptable {
	font-size: calc(1.1vh * var(--fontscale));
}
#vpscrollcontent {
	width: {{vptable.scroll_size}}%;
}
</style>

<style ng-if="vptable.view.sel.list">
.vptable {
	font-size: calc(1.4vh * var(--fontscale));
}
.vphdr {
	width: 10em;
}
.vpday {
	position: relative;
	vertical-align: top;
	text-align: center;
	z-index: 0;
}
.vpnum {
	width: auto;
}
#vpscrollcontent {
	height: {{vptable.scroll_size}}%;
}
</style>

<style ng-if="vptable.view.sel.expand">
.vptable {
	font-size: 1em;
}
#vpscrollcontent {
	width: {{vptable.scroll_size}}%;
}
</style>

<div id="vpscrollbox">
	<div id="vpscrollcontent">
		<table class="vptable">
			<tr ng-repeat="row in vptable.rows">
				<td ng-repeat-start="cell in row.cells" ng-if="cell.month" class="vpcell vphdr vplink" ng-class="cell.cls" ng-click="vptable.onclickHdr(cell)">{{cell.month.hdr}}</td>
				<td ng-if="cell.day" class="vpcell vpday" ng-class="cell.cls">
					<div class="vpnum vplink" ng-click="vptable.onclickDayNum(cell)">{{cell.day.num}}</div>
					<div class="vpevents" ng-if="cell.day.evts">
						<div class="vpevent" ng-repeat="evt in cell.day.evts" ng-class="evt.cal.cls" ng-click="evt.edit()">
							<span class="vpeventmarker" ng-style="{'background-color': evt.cal.colour}"></span>
							<span>{{evt.title}}</span>
						</div>
					</div>
				</td>
				<td ng-if="cell.empty" ng-repeat-end>&nbsp;</td>
			</tr>
		</table>
	</div>
</div>
