/* ----------------- table ------------------- */
.vptable {
	width: 100%;
	height: 100%;
	border-spacing: 1px;
	table-layout: fixed;
}
.vphdr {
	padding: 1em;
}

/* ----------------- cell ------------------- */
.vpday {
	background-color: #eaeaea;
}
.vpday.weekend {
	background-color: #d8d8d8;
}
.vpnum {
	font-size: 0.8em;
	width: 2em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-align: center;
}
.vpday.today .vpnum {
	font-weight: bold;
	color: white;
	background-color: red;
}

/* ----------------- event ------------------- */
